@import "./reset";
body {
  background-color: #555;
  color: #fff;
}
#table {
  font-size: 18px;
  text-align: center;
  .field {
    width: 0;
    flex-grow: 1;
  }
}
.thead {
  display: flex;
  border-bottom: 4px solid #ccc;
  .field {
    padding: 15px 0;
  }
}
.tbody {
  .data{
    display: flex;
  }
}